.row
	.col-md-6
		%h2 Latest Manga
		%hr
		%ul.list-group
			- Manga.last_ten_manga.each do |manga|
				%li.list-group-item= link_to manga.name, manga_path(manga)
		
	.col-md-6
		%h2 Latest Chapter
		%hr
		%ul.list-group
			- Chapter.last_ten_chapter.each do |chapter|
				%li.list-group-item= link_to chapter.full_name, manga_chapter_path(chapter.manga, chapter)


