= simple_form_for([@manga, @chapter, @page], :html => {:multipart => true} )do |f|

  .form-inputs
    = f.input :number
    = f.input :image, :as => :file

  .form-actions
    = f.button :submit, :class => "btn-primary"
