%div
	%ul.pager
		%li.previous
			- if @page.previous_page
				= link_to 'Previous', manga_chapter_page_path(@manga, @chapter, @page.previous_page)
			- else
				= link_to 'Back to manga', manga_path(@manga)
		%li.next			
			- if @page.next_page
				= link_to 'Next', manga_chapter_page_path(@manga, @chapter, @page.next_page)
			- else
				= link_to 'Back to manga', manga_path(@manga)
