%div
	%ul.pager
		%li{:class => @page.previous_page ? "previous" : "previous disabled"}
			= link_to 'Previous', @page.previous_page ? manga_chapter_page_path(@manga, @chapter, @page.previous_page) : '#'
		%li{:class => @page.next_page ? "next" : "next disabled"}
			= link_to 'Next', @page.next_page ? manga_chapter_page_path(@manga, @chapter, @page.next_page) : '#'
