#html5_uploader You browser doesn't support native upload. Try Firefox 3 or Safari 4.

.form-actions
  = link_to "Back", manga_path(@manga), class: "btn"
  = link_to "Add next chapter", add_next_manga_chapter_path(@manga, @chapter, :number => @chapter.number + 1), class: "btn btn-primary"
  = link_to "Read chapter", manga_chapter_page_path(@manga, @chapter, @chapter.pages.first), class: "btn btn-success", :id => "readButton"
