// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
  margin-bottom: 0px;
}

#pages{
  .col-md-2{
    height:200px;

    .actions{
      display: none;

      a {
        text-decoration: none;
      }
    }

    &:hover {
      padding-bottom: 0px;
      .actions {
        display: inline;
      }
    }
  }
}