// Place all the styles related to the Mangas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
  a.muted {
    display: none;
  }
  &:hover {
    a.muted {
      display: inline;
      text-decoration: none;
    }
  }

  .progress{
    margin-bottom: 5px;
  }
}

.thumbnail{

  margin-bottom: 10px;

  h3{
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis; /* pour Opera 9 */
    text-overflow: ellipsis;
  }
}