// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plupload_header {
  display: none;
}

.plupload_filelist {
  height: 300px !important;
}

.plupload_filelist_footer,  {
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  box-sizing: none;
}

.reader-nav {
  margin-top: -20px;
  background-color: #f1f1f1;
  padding: 5px;
  border-bottom: 1px solid #cdcdcd;

  &.navbar-fixed-top{
    margin-top: 0px;
  }

  .controls{
    position: absolute;
    left: 50%;
  }

  .pager{
    margin: 0;
  }
}

